<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head>
	<title>Places</title>
	<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="/static/style.css"/>


	<link rel="stylesheet"  href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script scr="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

	<link rel="stylesheet" href="./static/js/leaflet/leaflet.css" />
	<link rel="stylesheet" href="./static/css/mapstyle.css" />
	<script src="./static/js/leaflet/leaflet.js"></script>
	<link rel="stylesheet" href="./static/js/leaflet-control-geocoder-1.6.0/dist/Control.Geocoder.css" />
	<script src="./static/js/leaflet-control-geocoder-1.6.0/dist/Control.Geocoder.js"></script>
	<link rel="stylesheet" href="static/node_modules/leaflet.markercluster/dist/MarkerCluster.css" />
	<link rel="stylesheet" href="static/node_modules/leaflet.markercluster/dist/MarkerCluster.Default.css" />
	<script src="static/node_modules/leaflet.markercluster/dist/leaflet.markercluster-src.js"></script>
</head>
<body>
	{% include 'includes/nav_bar.html' %}
		{% block body %}
		{% endblock %}
</body>
</html>
